@page "/"
@using Fluff.Razor
@using Fluff.Core
<PageControl>
    <PageItem Text="Dashboard" Icon="fas fa-home">
        <div id="main" class="h-100 w-100">
            <GridControl>
                <GridItem Column="1" Row="1" ColumnSpan="2" ExtraClasses="no-b-padding no-t-padding">
                    <div class="w-100 h-fixed-1 flex-v-center">
                        <h2>General</h2>
                    </div>
                    <div class="h-100-minus-fixed-1 w-100 border-rad" style="background-color: white; padding: 1rem;">
                    </div>
                </GridItem>
                <GridItem Column="3" Row="1" RowSpan="2" ExtraClasses="overview-items">
                    <TabControl>
                        <TabItem Text="Organisations" Icon="fas fa-building">
                            <p>Item 1</p>
                        </TabItem>
                        <TabItem Text="Services" Icon="fas fa-people-arrows">
                            <p>Item 2</p>
                        </TabItem>
                        <TabItem Text="Taxonomy" Icon="fas fa-book">
                            <p>Item 3</p>
                        </TabItem>
                    </TabControl>
                </GridItem>
                <GridItem Column="1" Row="2" ExtraClasses="no-t-padding">
                    <div class="w-100 h-fixed-1 flex-v-center">
                        <h2>Requests</h2>
                    </div>
                    <div class="h-100-minus-fixed-1 w-100 border-rad" style="background-color: white;">

                    </div>
                </GridItem>
                <GridItem Column="2" Row="2" ExtraClasses="no-t-padding">
                    <div class="w-100 h-fixed-1 flex-v-center">
                        <h2>Updates</h2>
                    </div>
                    <div class="h-100-minus-fixed-1 w-100 border-rad" style="background-color: white;">

                    </div>
                </GridItem>
            </GridControl>
        </div>
    </PageItem>
    <PageItem Text="Infrastructure map" Icon="fas fa-project-diagram">
            <InfrastructureMap></InfrastructureMap>
        </PageItem>
    <PageItem Text="Metrics" Icon="fas fa-chart-area"></PageItem>
    <PageItem Text="Health checks" Icon="fas fa-first-aid"></PageItem>
    <PageItem Text="Live view" Icon="fas fa-terminal">
        <LiveView></LiveView>
    </PageItem>
</PageControl>

@code {
    //private ChartRenderer _renderer = new ChartRenderer();


}