@inherits SwitchInputBase
<div class="mx-switch">
    <div style="height: 100%; display: flex; flex-direction: column; justify-content: center;">
        <label class="switch">
            <input type="checkbox" @bind="Value">
            <span></span>
        </label>
    </div>
    <div class="label">
        <label>
            @Label
        </label>
    </div>
</div>