@inherits TextInputBase

<div class="input-container">
    <div class="label">
        <label>@Label</label>
    </div>
    <div class="input">
        <input type="text" placeholder="@PlaceHolder" @bind="Value">
        <div class="border"></div>
    </div>
</div>